# You can keep your repository small and manageable with a .gitignore file.
# Prevent build artifacts, large binary files, and other large file types
# such as log files, media files, and executables from slowing down your workflow.
#
# If you need to keep large files in Bitbucket, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
#
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Learn more about Git LFS for large files:
#     https://www.atlassian.com/git/tutorials/git-lfs

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/*
*.iml
*.iws
**/out/**
**/generated/**
**/generated_tests/**

# Mac
.DS_Store

# Maven
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Whitelisting some idea config files
!.idea/externalDependencies.xml

!.idea/codeStyles
.idea/codeStyles/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml

!.idea/inspectionProfiles
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Project_Default.xml